{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <body class="container-sm w-75 mt-5 mx-auto justify-content-center align-items-center bg-black bg-opacity-75 text-white">
    <%# using ajax to show page in to div %>
<script type="text/javascript">
    function table(){
        //call xhttp
        const xhttp = new XMLHttpRequest();
        //get value of select element id : table_id
        var value = document.getElementById("table_id").value;
        xhttp.onload = function(){
            //get information form page to div with id "dashboard_table"
            document.getElementById("dashboard_table").innerHTML = this.responseText;
        }
        if( value === 'link') {
            xhttp.open("GET", "{{ path('app_link_index') }}");
        }
        if( value === 'game') {
            xhttp.open("GET", "{{ path('app_game_dashboard') }}");
        }
        if( value === 'category') {
            xhttp.open("GET", "{{ path('app_category_index') }}");
        }
        if( value === 'user') {
            xhttp.open("GET", "{{ path('app_user_dashboard') }}");
        }
        xhttp.send();
    }
    // reload function per 1 sec
    setInterval(function(){
        table();
    }, 1000);
</script>
<h1 class="d-flex justify-content-center">DASHBOARD</h1>
    <%# Choose value to get page %>
    <label class="d-flex justify-content-center">
        <select name="table_id" id="table_id">
            <option selected>Open this select table</option>
            <option value="game">Game</option>
            <option value="category">Category</option>
            <option value="link">Link</option>
            <option value="user">User</option>
        </select>
    </label>
     <div id="dashboard_table"></div>

    </body>
{% endblock %}
