{% block body %}
<body class="container-sm  mt-5 mx-auto justify-content-center align-items-center bg-black bg-opacity-10 text-white">
    <table class="table text-danger bg-black bg-opacity-75">
        <thead>
            <tr >
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.Name }}</td>
                <td>{{ category.Description }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}
