
{% block body %}
    <h1>Link index</h1>

    <table class="table text-danger bg-black bg-opacity-75">
        <thead>
            <tr>
                <th>Id</th>
                <th>LinkURL</th>
                <th>Game</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.LinkURL }}</td>
                <td>{{ link.getGame().id }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
