{% extends 'base.html.twig' %}

{% block title %}GameCategory index{% endblock %}

{% block body %}
    <h1>GameCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_category in game_categories %}
            <tr>
                <td>{{ game_category.id }}</td>
                <td>
                    <a href="{{ path('app_game_category_show', {'id': game_category.id}) }}">show</a>
                    <a href="{{ path('app_game_category_edit', {'id': game_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_category_new') }}">Create new</a>
{% endblock %}
