{% block body %}
    <table class="table text-danger bg-black bg-opacity-75">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}